calculator/calc_data.csv
calculator/*.txt
calculator/*.json

img/*

reference/*

scripts/*.txt

webscraper/*.csv

website/tf/scyther.json
website/tf/scyther_test.json
website/index.html
website/index.js
website/pkmn_data.json
website/style.css
website/test.json