<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{pkmn_name_with_set} OHKOs</title>
  <link rel="stylesheet" href="../common.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="text/javascript" src="{num}.js"></script>
</head>
<body>
  <h1 class="text-3xl font-bold text-center mb-4">{pkmn_name_with_set} OHKOed By</h1>
  <main>
    <div class="rowFlex">
      <picture>
        <source srcset="TEF_{img_num}_R_EN_SM.png" media="(orientation: portrait)" />
        <img src="TEF_{img_num}_R_EN_SM.png">
      </picture>
      <table>
        <tr>
          <td class="table_row_color1">HP</td>
          <td class="table_row_color1">{pkmn_hp}</td>
        </tr>
        <tr>
          <td class="table_row_color2">Weakness</td>
          <td class="table_row_color2">{pkmn_weakness}</td>
        </tr>
        <tr>
          <td class="table_row_color1">Resistance</td>
          <td class="table_row_color1">{pkmn_resistance}</td>
        </tr>
        <tr>
          <td class="table_row_color2">Effective Defensive Items</td>
        </tr>
        {effective_defensive_items}
      </table>
    </div>
    <table id="oneShotBy" class="rowFlex">
      <tr>
        <th scope="col">Opposing Pokemon</th>
        <th scope="col">Opposing Pokemon's Move</th>
        <th scope="col">Opposing Pokemon's Poketool</th>
        <th scope="col">This Pokemon's Poketool</th>
        <th scope="col">Damage Calculation</th>
      </tr>
    </table>
  </main>
</body>
</html>